{% assign publications = data[1] | sort: "releaseDate" | reverse %}
{% assign current_year = "" %}
{% for content in publications %}
  {% assign year = content.releaseDate | slice: 0, 4 %}
  {% if year == "" %}
    {% assign year = "Other" %}
  {% endif %}

  {% if year != current_year %}
    {% unless forloop.first %}</ul></div></div>{% endunless %}
    <div class="awards-year-row row">
      <div class="col-md-2 awards-year-col">
        <h2 class="bibliography awards-year">{{ year }}</h2>
      </div>
      <div class="col-md-10 awards-content-col">
        <ul class="card-text font-weight-light list-group list-group-flush awards-list">
    {% assign current_year = year %}
  {% endif %}

  <li class="list-group-item">
    <div class="row">
      <div class="col-12">
        <h6 class="title font-weight-bold">
          {% if content.url and content.url != "" %}
          <a href="{{ content.url }}">{{ content.name }}</a>
          {% else %}
          {{ content.name }}
          {% endif %}
        </h6>
        {% if content.publisher and content.publisher != "" %}
        <h6 style="font-size: 0.95rem;">{{ content.publisher }}</h6>
        {% endif %}
        {% if content.summary and content.summary != "" %}
        <h6 style="font-size: 0.95rem; font-style: italic;">{{ content.summary }}</h6>
        {% endif %}
      </div>
    </div>
  </li>

  {% if forloop.last %}</ul></div></div>{% endif %}
{% endfor %}
